@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src:
		local('Lato Hairline'),
		local('Lato-Hairline'),
		/* from https://fonts.gstatic.com/s/lato/v14/KlmP_Vc2zOZBldw8AfXD5g.eot */
		url('../fonts/Lato_100.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v14/boeCNmOCCh-EWFLSfVffDg.woff */
		url('../fonts/Lato_100.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v14/GtRkRNTnri0g82CjKnEB0Q.woff2 */
		url('../fonts/Lato_100.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=1zdx8ZyEBSORSnTlZpEGKA&skey=cfa1ba7b04a1ba34&v=v14#Lato */
		url('../fonts/Lato_100.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v14/zJY4gsxBiSo5L7tNutxFNg.ttf */
		url('../fonts/Lato_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src:
		local('Lato Light'),
		local('Lato-Light'),
		/* from https://fonts.gstatic.com/s/lato/v14/zLhfkPOm_5ykmdm-wXaiuw.eot */
		url('../fonts/Lato_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v14/KT3KS9Aol4WfR6Vas8kNcg.woff */
		url('../fonts/Lato_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2 */
		url('../fonts/Lato_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=7yKIrlBXX_AXuUv3Ts9_8g&skey=91f32e07d083dd3a&v=v14#Lato */
		url('../fonts/Lato_300.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v14/nj47mAZe0mYUIySgfn0wpQ.ttf */
		url('../fonts/Lato_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		/* from https://fonts.gstatic.com/s/lato/v14/sBtfDPlEIwvKKU53nAG7AQ.eot */
		url('../fonts/Lato_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/lato/v14/wkfQbvfT_02e2IWO3yYueQ.woff */
		url('../fonts/Lato_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2 */
		url('../fonts/Lato_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=H4oiIt_Ug9TU5ast0nUT-w&skey=3480a19627739c0d&v=v14#Lato */
		url('../fonts/Lato_700.svg#Lato') format('svg'),
		/* from https://fonts.gstatic.com/s/lato/v14/DvlFBScY1r-FMtZSYIYoYw.ttf */
		url('../fonts/Lato_700.ttf') format('truetype');
}
